@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face{
  src: url(font/Montserrat-VariableFont_wght.ttf);
  font-family: 'Montserrat';
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color:#6A6891;
}
ol, ul {
  list-style: none;
}
.nav_link{
  color: white;
  font-size: 15px;
  font-weight: 800;
  word-wrap: break-word
}
.nav_padding{
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-size: 15px;
  font-weight: 800;
  word-wrap: break-word
}
.bg_nav{
  background-color: #CCC8E3;
  border-radius: 19px;
}
.logo{
  width: 40px;
  height: 40px;
}
body{
  background-color: #FFF6F9;
}
.section{
    margin:  70px 0;
}
h1,h2,h3,h4,h5,h6,p,li,a,::placeholder{
  font-family: 'Montserrat';
}
.backgr-colour{
  background-color: #EEE8F2;
  padding-top: 30px;
  padding-bottom: 40px;
  border-radius: 45px;
}
h1{
  color: #6A6891;
  font-size: 40px;
  font-weight: 700;
  line-height: 37.36px;
}
h2{
  color: #6A6891;
  font-size: 36px;
  font-weight: 700;
  line-height: 37.36px;
}
#section2_head{
  color:#A7B0E1;
  font-weight: 600;
}
.style_head{
  background-color:#CCC8E3;
  border-radius: 12px;
}
.nav_style{
  font-family: 'Montserrat';
  font-size: 15px;
  color: white;
  font-weight: 700;
  margin-left: 20px;
  margin-right: 20px;
}
.nav_item{
  color: white;
}
.nav-link{
  color:white;
}
.nav-link:hover{
  color: #6A6891;
}
.hid{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 220px;
 -webkit-line-clamp: 2;
}
.head_1{
  padding-bottom: 55px;
}
.head_prep{
  font-size: 36px;
}
.avatar{
  height: 49px;
  width: 49px;
}
header{
    padding: 200px 0;
}
.modal-dialog {
  max-width: 700px;
}
.modal_text{
 color: #6A6891;
 font-size: 14px;
 font-weight: 600;
 line-height: 18.76px;
 word-wrap: break-word
}
.modal_bg{
  background-color: #F3DDD9;
}
.modal_signup{
  background-color: #B3ABED;
}
#modalbtn{
  width: 100%;
  padding: 6px 0px 7px 0px;
  border: none;
  border-radius: 5px;
  background-color: #6A6891;
  font-family: 'Montserrat';
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word
}
.card_fs{
  height: 700px;
  border-radius: 27px;
}
.cardbody_style{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.row_caruosel{
  flex-wrap: nowrap;
  justify-content: center;
}
.card_style{
  background: #F3DDD9;
  border-radius: 25px;
}
.title_card{
color: #7577A6;
 font-size: 14px;
 font-weight: 700;
 text-transform: uppercase;
 line-height: 17.43px;
 word-wrap: break-word
}
.btn_sign-up{
  color: #6A6891;
 font-size: 16px;
 font-weight: 600;
 line-height: 24px;
 word-wrap: break-word;
  background: white; 
  border-radius: 10px; 
  border: 2px #6A6891 solid
}
.card-padding{
  padding: 0;
}
.btn_more{
 background: #6A6891;
 color: white;
 font-size: 16px;
 font-weight: 600;
 line-height: 24px;
 word-wrap: break-word
}
.carousel-control-next,
.carousel-control-prev{
  width: 5% !important;
}
.carousel-control-next-icon,
.carousel-control-prev-icon{
  height: 20px;
  width: 20px;
  background-size: 10%, 10%;
  border-radius: 50%;
  background-image: none;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #6A6891;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color:#6A6891;
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  .accordion_head_text{
    color: #6A6891;
    font-size: 24px;
    font-weight: 500;
    line-height: 25.20px;
    word-wrap: break-word;
  }
  .accordion_body_style{
color: #6A6891;
 font-size: 16px;
 font-family: 'Montserrat';
 font-weight: 400;
 line-height: 20.56px;
 word-wrap: break-word
  }
  .accordion-button:not(.collapsed) {
    color: #6A6891;
    font-size: 24px;
    font-weight: 500;
    line-height: 25.20px;
    word-wrap: break-word;
    background-color: white;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
  }
  .accordion-button:not(.collapsed)::after {
    transform: rotate(180deg);
  }
.footer_bg{
  background-color: #CCC8E3;
}
.footer_first, .footer_second{
  display: flex;
}
.footer_list{
  padding-bottom: 10px;
  padding-top: 10px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 14.70px;
  word-wrap: break-word
}
.modal_bg_courses{
  background-color: #FFF6F9;
}
.write{
  background-color: white;
  padding: 15px;
  width: 100%;
  border: 1px solid #6A6891;
  border-radius: 8px;
  margin-bottom: 25px;
}
@media screen and (max-width: 1200px) {
    .card_fs{
      height: 600px;
    }
  }
@media screen and (max-width: 768px){
  .row_caruosel{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 575px) {
  .row_caruosel{
    display: flex;
    flex-direction:  column;
    align-items: center;
    width: 70%;
  }
}
@media screen and (max-width: 574px) {
  .row_caruosel{
    display: flex;
    flex-direction:  column;
    align-items: center;
    width: 100%;
  }
}
